%h3= @menu.name
%br
%h3= link_to 'New Order', new_order_path
%br
- @menu.menu_items.each do |item|
  %p= item.description
  %p= item.market_price(@menu.total_inventory, @menu.number_of_items_in_stock)
  %p Current Stock: #{item.current_stock_level}
  %br
